<div class="alert alert-primary" role="alert" >
  genre deleted successfully
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Option</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of genres; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{g.id}}</td>
        <td>{{g.name}}</td>
        <td> <input type="button" class="btn btn-link" value="Delete" (click)="deleteGenre(g.id)" /> </td>
      </tr>
     
    </tbody>
  </table>
